[submodule "notes/06_web tech/reveal.js"]
	path = notes/06_web tech/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "samples/01_programming 101/various/sierpinsky/cpppainter"]
	path = samples/01_programming 101/various/sierpinsky/cpppainter
	url = https://github.com/stranxter/cpppainter.git
[submodule "samples/01_programming 101/various/hilbert/cpppainter"]
	path = samples/01_programming 101/various/hilbert/cpppainter
	url = https://github.com/stranxter/cpppainter.git
