/*
    Sample 3.
    Style sheet(s).
    Selectors.
    Declarations. 
    Selectors: type, class, individual elements.

*/
p
{
    color:green;
    
}

.blue-para
{
    color:blue;
    
}

#special-para
{
    color:red;
    font-style: italic;
}

.blue-para[important="yes"]
{
    font-style: italic;
}
